@font-face {
    font-family: MyCustomFont;
    src: url('18712.ttf');
}

@media only screen and (max-width: 600px) {
    .container,
    .container2 {
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .left-sidebar,
    .right-sidebar {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .video {
        width: 100%;
        padding: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: MyCustomFont, sans-serif;
}

header {
    background-color: #130e27;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-size: cover;
}
.flex-container {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.left-sidebar,
.right-sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 140px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.left-sidebar {
    left: 0;
    background-image: url(Hearthstone_Announcement_Art1.png);
}

.right-sidebar {
    right: 0;
    background-image: url(Hearthstone_Announcement_Art2.png);
}

.container,
.container2 {
    flex: 1;
    box-sizing: border-box;
    margin: 140px;
}


.container {
    text-align: center;
}

.my-div {
    display: inline-block;
    margin: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.42);
    padding: 2px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.story {
    text-align: center;
    font-size: 75px;
    line-height: 100%;
    font-family: "Poppins";
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    left: 0;
    top: 0;
    z-index: 2;
}
.imageHS {
    position: sticky;
    height: 110px;
}
.footer {
    margin-left: 140px;
    margin-right: 140px;
    background-color: #130e27;
}
.video {
    margin-left: 140px;
    margin-right: 140px;
    width: 100%;
    text-align: center;
}
hr {
    margin-left: 140px;
    margin-right: 140px;
}
.nav-menu {
    display: none;
    }
    .nav-menu {
        position: fixed;
        top: 30px;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 9999;
       }
       #burger {
        position: relative;
        width: 31px;
        height: 25px;
       }
       #burger span {
        position: absolute;
        height: 6px;
        width: 100%;
        border-radius: 5px;
        background-color: #939ea2;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -o-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
       }
       #burger span:first-child {
        top: 0;
        bottom: auto;
       }
       #burger span:last-child {
        bottom: 0;
        top: auto;
       }
       .nav-menu.active #burger span {
        top: 0;
        bottom: 0;
        -moz-transform: rotate(45deg); /* Для Firefox */
        -ms-transform: rotate(45deg); /* Для IE */
        -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(45deg); /* Для Opera */
        transform: rotate(45deg);
       }
       .nav-menu.active #burger span:last-child {
        -moz-transform: rotate(-45deg); /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
       }
       .menu {
        padding: 10px;
        list-style: none;
        margin: 0;
        background-color: #fff;
        position: relative;
        left: -100%;
       }
       .menu a {
        color: rgb(39, 61, 70);
        text-decoration: none;
       }
       .nav-menu.active .menu {
        left: 0;
       }
       .container_block {
        max-width: 950px;
        margin: auto;
       }
       .container_block .image-block {
        display: flex;
        align-items: center;
        width: 100%;
       }
       .container_block .image-block .image1 {
        max-width: 250px;
        max-height: 163px;
        padding: 5px;
        background-color: #fff;
        border: none;
        margin-right: 40px;
       }
       .container_block .image-block .text {
        font-size: 26px;
       }
       .container_block .image-block {
        position: relative;
        margin-bottom: 350px;
       }
       .container_block .image-block .f_text {
        padding: 50px;
        position: absolute;
        top: 99%;
        background-color: #fff;
        right: 0;
        box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
        max-width: 751px;
       }
       .container_block .image-block .f_text p {
        margin: 0;
        font-size: 36px;
        font-style: italic;
       }
       .container_block .image-block .f_text .author {
        display: flex;
       }
       .container_block .image-block .f_text .author a {
        text-decoration: none;
        color: #7a7b7c;
       }
       .container_block .image-block .f_text .author * {
        font-size: 14px;
        margin: 5px;
       }
       .container_block .image-block .f_text .more {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 21px;
        background-color: rgb(128, 183, 179);
        box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
        left: 0;
        right: 0;
        bottom: -20px;
        margin: auto;
        width: 199px;
        height: 44px;
       }
       .container_block .image-block .text p {
        margin: 0;
       }
       .container_block .image-block .text h2 {
        font-size: 14px;
        color: #273d46;
       }
       .sub_block.new_dex {
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../img/last.png);
        height: 631px;
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .sub_block.new_dex .form_sub {
        background-color: rgba(39, 61, 70, 0.902);
        width: 670px;
        height: 327px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .sub_block.new_dex .form_sub .title {
        text-align: center;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.875;
       }
       .sub_block.new_dex .form_sub .inputs {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: space-around;
        align-items: center;
       }
       .sub_block.new_dex .form_sub .inputs input {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(255, 247, 244);
        border-radius: 22px;
        background-color: rgba(0, 0, 0, 0.2);
        left: 454px;
        top: 4158px;
        width: 251px;
        height: 30px;
        outline: none;
        color: #fff;
        padding: 10px;
       }
       .sub_block.new_dex .form_sub button {
        border-radius: 22px;
        background-color: rgb(128, 183, 179);
        box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
        margin-top: 20px;
        width: 232px;
        height: 44px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
       }       
